@using Microsoft.AspNetCore.Routing
@model DateTime?
@{
	IDictionary<string, object> htmlAttributes;
	object objAttributes;
	if (ViewData.TryGetValue("htmlAttributes", out objAttributes))
	{
		htmlAttributes = objAttributes as IDictionary<string, object> ?? HtmlHelper.AnonymousObjectToHtmlAttributes(objAttributes);
	}
	else
	{
		htmlAttributes = new RouteValueDictionary();
	}
	object classhtml;
	htmlAttributes.Add("type", "text");
	if (htmlAttributes.TryGetValue("class", out classhtml))
	{
		classhtml = classhtml.ToString() + " " + "form-control";
	}
	else
	{
		htmlAttributes.Add("class", "form-control");
	}

	String format = "{0:dd/MM/yyyy}";
    <div class="input-group date"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>@Html.TextBox("", Model, format, htmlAttributes)</div>
}

