@model DateTime?
@{
    if (Model != null)
    {
        <p style="display: none">@Model.Value.ToString("yyyyMMddHHmm")</p>
        <span class="date">@Model.Value.ToString("dd/MM/yy HH:mm")</span>
    }
}